@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&display=swap');
.header {
    background-image: url('../../img/slide2.jpg'),url('../../img/slide2.jpg'),
    url('../../img/slide2.jpg');
    background-size: 100% 33%;
    background-repeat: repeat;
}
.test{
    width: 365px;
    height: 365px;
}
.container{
    margin: 0px auto;
    max-width: 1160px;
}
.top_container{
    padding-top: 16px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.link{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    color: black;
}
.menu{
    display: flex;
    color: black;
}
li:not(:first-child){
    margin-left: 35px;
}
.item{
    font-family: 'Lora', serif;
    font-size: 18px;
    color: black;
}
.logo{
    width: 70px;
    height: 62px;
}
.logo_container{
    max-width: 75px;
    max-height: 65px;
    margin-right: 5px;

}
.logoText{
    color: black;
    font-family: 'Lora', serif;
}
.brand{
    display: flex;
    align-items: center;
}
/*бургер меню*/

.burger_btn{
    display: none;
    width: 60px;
    height: 45px;
    left: 200px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.burger_btn span{
    position: absolute;
    height: 3px;
    width: 50px;
    background: black;
    border-radius: 0px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.burger_btn span:nth-child(1) {
    top: 0px;
}

.burger_btn span:nth-child(2) {
    top: 18px;
}

.burger_btn span:nth-child(3) {
    top: 36px;
}
.burger_btn.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.burger_btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.burger_btn.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.gText{
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 123px;
}
.gTextDescription{
    padding-top: 7px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;

}
.cards{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;

}

@media screen and (max-width: 768px) {
    .header{
        background-image: url("../../img/slide2Adap.jpg");
    }
    .container{
        padding: 0 90px;
        margin: 0px auto;
        max-width: 721px;
    }
    .menu{
        padding: 0;
        position: relative;
        top:70px;
        flex-direction: column;
        align-items: center;
        transform: translateX(200%);
    }
    .menu.active{
        flex-direction: column;
        align-items: center;
        transform: translateX(65%);
        transition: .25s ease-in-out;
    }
    li:not(:first-child){
        margin-top: 10px;
        margin-left: 0px;
    }
    .burger_btn{
        display: flex;
        justify-content: end;
        width: 60px;
        height: 45px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .logoText{
        max-width: 150px;
        font-size: 16px;
    }
    .text{
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 123px;
    }
    .Gtext{
        padding-top: 136px;
    }
    .weather{
        padding-top: 100px;
    }
    .gradient{
        height: 38px;
        background: linear-gradient(0deg, #FFFFFF -9.17%, rgba(255, 255, 255, 0) 90.83%);
    }
}